.container_header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.menu {
  width: 30px;
  padding: 8px;
}

.logo {
  max-width: 150px;
}

.container_cart {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart {
  width: 35px;
}

.count {
  width: 18px;
  height: 18px;
  color: white;
  background-color: #f8475f;
  border-radius: 50%;
  text-align: center;
  font-family: nunito;
  font-weight: 600;
  font-size: 10px;
  line-height: 20px;
}

.search {
  width: 70%;
}

.container_menu {
    width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 25px;
}

.menu_text{
    font-family: Nunito;
    font-weight: 400;
    font-size: 13px;
}

@media (min-width: 800px) {
  .menu {
    display: none;
  }

  
}

@media (max-width: 800px) {
  .search {
    display: none;
  }

  .container_menu {
    display: none;
  }

  
}
