.container_search{
    /* width: 70%; */
    position: relative;
    display: flex;
    justify-content: center;
    /* margin-top: 1.5rem; */
}
.input{
    width: 80%;
    border-width: 0px 0px 2px 0px;
    font-family: Nunito;
    font-weight: 400;
}

.search{
    left: 85%;
    bottom: 7%;
    position: absolute;
    width:30px ;
}